<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.finki.mpip.footballdreamteam">

    <!--Permissions-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.android.finki.mpip.footballdreamteam.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--Activities-->
        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".ui.activity.LineupPlayersActivity"
            android:screenOrientation="landscape"
            android:parentActivityName=".ui.activity.HomeActivity">
                <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.activity.CreateLineupActivity"
            android:screenOrientation="landscape"></activity>

        <!--Services-->
        <service android:name=".service.UserStatisticService"></service>

        <!--Receivers-->
        <receiver android:name=".receiver.ApplicationBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
